html, body {
  padding: 0;
  margin: 0;
  font-family: 'SpoqaHanSans'!important;
}

@font-face {
  font-family: 'SpoqaHanSans';
  src: url('Fonts/SpoqaHanSans-Regular.woff2') format('woff2'), url('Fonts/SpoqaHanSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpoqaHanSanslight';
  src: url('Fonts/SpoqaHanSans-Light.woff2') format('woff2'), url('Fonts/SpoqaHanSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpoqaHanSansbold';
  src: url('Fonts/SpoqaHanSans-Bold.woff2') format('woff2'), url('Fonts/SpoqaHanSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpoqaHanSansthin';
  src: url('Fonts/SpoqaHanSans-Thin.woff2') format('woff2'), url('Fonts/SpoqaHanSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

a {color: inherit;text-decoration: none;}
* {box-sizing: border-box;}
.login-form-label {font-family: Roboto;font-style: normal;font-weight: bold;font-size: 18px !important;}
.soc-login-inner {float: none;display: table;margin: 0 auto;text-align: left;width: 250px;}
.form-input {background-color: transparent !important;border-top: 0 !important;border-left: 0 !important;border-right: 0 !important;padding: 4px 0 20px 0 !important;border-bottom: 2px solid #6c6c6c !important;}
.form-divider {background: #6c6c6c !important;margin-top: 17px !important;margin-bottom: 0 !important;}
.primary-button {background: #00d6e3 !important;border: #00d6e3 !important;border-radius: 20px !important;}
.email-verify.ant-form-item {margin-bottom: 10px !important;}
input:focus {box-shadow: none !important;}
.email-verify.ant-btn-primary[disabled], .ant-btn-primary[disabled]:hover, .ant-btn-primary[disabled]:focus.ant-btn-primary[disabled]:active {color: white !important;}
.ant-form-item-explain.ant-form-item-explain-error {margin-top: 5px;margin-bottom: 10px;color: #ff5c00 !important;font-style: normal;font-weight: normal;font-size: 16px;line-height: 28px;}
.login-email.ant-form-item-has-error input {border-bottom: 2px solid #ff5c00 !important;box-shadow: none !important;}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {color: #16181c !important;font-weight: bold;font-size: 30px;line-height: 36px;font-family: 'SpoqaHanSansbold';font-style: normal;}
.login-header {background-color: rgba(255, 255, 255, 0.2) !important;backdrop-filter: blur(30px) !important;height: 100px !important;display: flex;align-items: center;justify-items: flex-start;}
.footer {height: 90px;background: #f1f1f1;backdrop-filter: blur(30px);position: fixed;left: 0;bottom: 0;width: 100%;color: #2b2f36;display: flex;align-items: center;justify-content: center;font-size: 12px;font-weight: 400;font-family: Noto Sans KR;font-style: normal;}
.login-container {background-image: url(../public/laptop.png);background-size: cover;width: 100%;position: absolute;justify-content: center;align-items: center;}
.normaltab {color: #16181c !important;font-weight: normal;font-size: 30px;line-height: 36px;font-family: SpoqaHanSans;font-style: normal;}
.blackTabs .ant-tabs-ink-bar {background: #16181c !important;pointer-events: none;}
.introUpload .ant-upload-list-picture-card-container {width: 100% !important;height: 240px !important;background-color: #fafafa;border-radius: 20px;border: 0;}

.introUpload .ant-upload-select-picture-card{width:100%!important;height:240px!important;background-color:#fafafa!important;border-radius:20px!important;border:0!important}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){border-color:#00d6e3!important;color:#00d6e3!important}
.span-radio .ant-radio-button-wrapper .ant-radio-button-wrapper-checked{background-color:#00d6e3!important}
.avatarUpload .ant-upload-select-picture-card{border-radius:50%}
.ant-upload-picture-card-wrapper{display:flex!important;justify-content:center!important;align-items:center!important}
.avatarUpload .ant-upload.ant-upload-select-picture-card{border:0!important;border-radius:50%!important}
.registerSteps .ant-tabs-nav-list{width:100%!important}
.registerSteps .ant-tabs-tab{width:100%;display:flex!important;justify-content:center!important;align-items:center!important;color:#9a9a9a!important;font-size:20px;font-family:'SpoqaHanSansbold';font-style:normal;font-weight:bold; padding-bottom: 0px;}
.registerSteps .ant-tabs-ink-bar{background:#00d6e3!important;pointer-events:none}
.registerSteps .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{color:#00d6e3!important;font-size:20px;font-family:'SpoqaHanSansbold'}

.introductoryUpload .ant-upload-select-picture-card{border-radius:20px;height:240px!important;width:100%!important}
.introductoryUpload .ant-upload.ant-upload-select-picture-card{border:0!important;border-radius:20px;background:#eaeaea;width:100%!important;min-width:240px!important;max-width:240px!important;height:240px!important}
.introductoryUpload .ant-upload-list-picture-card-container{width:238px!important;height:240px!important}
.pop-title .ant-modal-title{font-family:'SpoqaHanSansbold';font-style:normal;font-weight:bold;font-size:40px;line-height:45px;color:#16181c;word-wrap:break-word}
.pop-title .ant-modal-header{padding:32px 24px;color:rgba(0,0,0,0.85);background:#fff;border-bottom:1px solid #f0f0f0;border-radius:20px 20px 0 0;height:100px}
.modal-title1 .ant-modal-header{color:rgba(0,0,0,0.85);background:rgba(255,255,255,0.8)!important}
.modal-title1 .ant-modal-content{color:rgba(0,0,0,0.85);background:rgba(255,255,255,0.8)!important}
.pop-title .ant-modal-close-x{padding-top:21px;display:block;font-size:25px}
.pop-title .ant-modal-content{border-radius:20px}
.ant-modal-footer{padding:10px 30px 50px 30px!important;border-top:none!important}
.pop-title-coin .ant-modal-header{padding-bottom:32px;padding-left:24px;padding-right:24px;color:rgba(0,0,0,0.85);background:#fff;border-bottom:1px solid #f0f0f0;border-radius:20px 20px 0 0}
.pop-title-coin .ant-modal-content{border-radius:20px}
.pop-title-email-verify .ant-modal-header{padding-left:24px;padding-right:24px;color:rgba(0,0,0,0.85);background:#fff;border-bottom:1px solid #f0f0f0;border-radius:20px 20px 0 0}
.pop-title-email-verify .ant-modal-content{border-radius:20px}
.cmn-profile-section{float:none;display:table;margin:0 auto;width:800px}
.cmn-profile-sec-top{float:left;width:100%;background-color:#00d6e3;border-radius:15px 15px 0 0;box-sizing:border-box;padding:15px}
.cmn-profile-sec-btm{float:left;width:100%;box-sizing:border-box;padding:30px}
.cmn-profile-section.box-section{box-shadow:0 0 40px rgb(0 0 0 / 10%);border-radius:20px;margin-bottom:100px}
.cmn-profile-sec-btm form#requestinfo{float:left;width:100%}
.cmn-profile-sec-btm form#requestinfo .p-form-cmn{float:left;width:100%}
.col4-cmn-cntr{float:none;display:table;margin:0 auto;width:600px}
.col4-cmn-cntr-640{float:none;display:table;margin:0 auto!important;width:640px}
.col4-cmn-cntr-800{float:none;display:table;margin:0 auto;width:800px}
.register-outer{padding:105px 0}
.register-outer .ant-card-body{padding:50px 50px 30px 50px}
.bprofpar{font-family:'SpoqaHanSans';font-style:normal;font-weight:normal;font-size:20px;line-height:28px;color:#fff;margin:0 0 40px 0;padding:20px 0;border-top:1px solid #fff;border-bottom:1px solid #fff;float:left;width:100%}

label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{display:none!important}
.header-common{float:left;width:100%;padding:30px 0}
.header-common-inner{float:none;display:table;margin:0 auto;width:auto}
.header-logo{float:left;margin-right:25px}
.header-logo a{margin:0}
.header-menu{float:left}
.header-menu ul{float:left;display:block}
.header-menu ul li{float:left;margin:0 25px}
.header-common.in-english .header-menu ul li{margin:0 15px}
.header-menu ul li a{float:left;font-size:16px;line-height:28px}
.header-profile{float:left;margin-left:15px;margin-top:7px}
.header-profile .header-notification{float:left;margin-right:20px}
.header-profile .header-notification img{margin:0}
.header-profile .header-avtar-section{float:left}
.header-profile .header-avtar-section span.avtar-image{float:left}
.header-profile .header-avtar-section span.avtar-name{float:left;margin-left:15px;font-weight:bold}
.header-profile .header-avtar-section span.avtar-name a{float:left;padding:0;margin:0}
.header-action{float:left;margin-left:20px;margin-top:4px}
.header-action .header-action-left{float:left}
.header-action .header-action-left button{margin:0;padding:0;float:left}
.header-action .header-action-right{float:left;margin-left:20px;margin-top:4px}
.header-action .header-action-right img{float:left;margin:0}
.header-action .header-action-right a{float:left;margin-left:10px}
.alnleft{text-align:left}
.alnright{text-align:right}
.blue-profile-btm{float:left;width:100%;background-color:#fff;padding:30px 30px;border-radius:0 0 20px 20px;box-shadow:0 0 40px rgba(0,0,0,0.1)}
.blue-profile-btm .profrate-inner{float:left;width:100%}
.profrate-inner-devider{padding:0;float:left;width:100%;height:2px;background-color:#e5e5e5;margin:30px 0}
.profrate-inner .proinr-cmn{padding-top:15px;padding-bottom:15px;font-size:18px;line-height:30px}
.profrate-inner .proinr-title{font-size:19px;font-weight:bold;margin-bottom:20px}
.bluprof-img-section{position:relative}
.bluprof-img-section .bluprof-count{position:absolute;right:15px;top:0}
.profilehart{padding-left:10px}
.registrationinner{float:left;width:100%}
.cmn-inner-p15{float:left;width:100%;box-sizing:border-box;padding:30px}
.bg-white{background-color:#fff}
.brdrrdus20{border-radius:20px}
.cmn-shadow{box-shadow:0 0 40px rgb(0 0 0 / 10%)}
.text-right{text-align:right}
.text-left{text-align:left}
.text-cente{text-align:center}
.registrationinner .searchdetail_btn1{display:inline-block}
.imgupload-inner .ant-upload.ant-upload-select-picture-card{margin-right:0;margin-bottom:10px}
.imgupload-inner .col-4{padding:0 5px}
.row.imgupload-inner{padding:0 7px}
.mainContainercmn{background-color:#e5e5e5;-webkit-box-shadow:0 0 15px rgb(0 0 0 / 10%);box-shadow:0 0 15px rgb(0 0 0 / 10%);float:left;width:100%}
.login-footer{background-color:rgba(255,255,255,0.2)!important;text-align:center;color:#fff;float:left;width:100%;padding:34px 0}
.header-common-inner-before-login{float:none;display:table;margin:0 auto;width:1000px}
.ant-modal-mask{background-color:rgba(0,0,0,0.85)!important}
.ant-modal.regiscomp2-model img.regiscomp2{margin-top:-80px;min-width:650px;margin-left:-22px}
.ant-modal.regiscomp2-model{margin-top:90px}

ul.proflist{margin:0;padding:0}
ul.proflist li{float:left;width:25%;list-style:none;box-sizing:border-box;padding:0 5px}
ul.proflist li button{float:left;width:100%;text-align:center;height:60px;border-radius:10px}
.client-profile-images{float:left;width:100%}
.client-profile-images span.ant-upload-picture-card-wrapper{float:left;width:100%}
.client-profile-images span.ant-upload-picture-card-wrapper .ant-upload-list{float:left;width:100%}
.client-profile-images span.ant-upload-picture-card-wrapper .ant-upload-list .ant-upload-list-picture-card-container{border:none!important;background-color:rgba(0,0,0,0);margin:0;float:left;width:33.33%!important;padding:5px 5px}
.client-profile-images span.ant-upload-picture-card-wrapper .ant-upload-list .ant-upload-list-picture-card-container .ant-upload-list-item{border:0;padding:0;float:left;width:100%}
.center-div{float:none;display:table;width:auto;margin:0 auto}
.blue-profile-btm.with-no-shadow{box-shadow:none}
button.light-blue-bg{background-color:#00d6e3;border:0;color:#fff;padding:4px 15px;font-size:17px;font-weight:bold;border-radius:20px;margin-left:10px}
.header-common-inner.for-search-company{width:900px}
.header-action.for-search-company{float:right}
button.ant-btn.hdr-left-btn.for-search-company{float:left;background-color:#00d6e3;border:0;color:rgba(0,0,0,0);border-radius:25px;padding:19px 30px;position:absolute}
.minw-180{min-width:180px}
.ant-form-item-has-error input{border-bottom:2px solid #ff5c00!important;outline:none!important;box-shadow:none!important}
.paymentPopup .ant-modal-body{background-color:#00d6e3!important;padding-left:24px;padding-right:24px;color:#fff;border-bottom:1px solid #f0f0f0;border-radius:0}
.paymentPopup .ant-modal-header{background-color:#00d6e3!important;padding-left:24px;padding-right:24px;color:#fff;border-bottom:1px solid #f0f0f0;border-radius:20px 20px 0 0}
.ant-modal-content{border-radius:20px!important}
.paymentPg .ant-modal-content{width:1000px!important;padding-left:24px;padding-right:24px;color:rgba(0,0,0,0.85);background:#fff;border-bottom:1px solid #f0f0f0;border-radius:20px 20px 0 0;align-self:"center"}
.paymentPgButton .button-content{height:60px;box-sizing:border-box;border:width 1px;border-color:#6c6c6c;border-style:solid}
.reqinterview .ant-input{font-family:'SpoqaHanSansbold';font-style:normal;font-weight:bold;font-size:20px;line-height:28px;display:flex;align-items:center;text-align:right;color:#00d6e3}
.reqinterview .ant-input-suffix{font-family:'SpoqaHanSans';font-style:normal;font-weight:normal;font-size:20px;line-height:28px;display:flex;align-items:center;text-align:right;color:#16181c}
.searchdetail_bigbtn__qnEM-{padding-bottom:10px!important}
.my-page-card .ant-btn span{margin-left:5px}
.registrationinner .ant-row.ant-form-item{margin-bottom:0}
/* .ant-checkbox{display: none;} */
/*-------------Dhwani Css Start------------*/
div#outerMenuID.mobile-menu {position: fixed;right: 20px;top: 0;z-index: 999;width: 20px;height: auto;}
div#outerMenuID.mobile-menu span.anticon.anticon-menu {float: left;width: auto;margin-top: 36px;}
div#outerMenuID.mobile-menu .bm-menu-wrap {background-color: rgb(57, 57, 66);padding: 40px 15px 15px;}
div#outerMenuID.mobile-menu .bm-menu-wrap .bm-cross-button {color: #ffffff;font-size: 20px;font-weight: bold;}

/*-------------Dhwani Css End------------*/

/*-------Jatin CSS Start--------*/
.footer-inner{float: none;display: table;margin: 0 auto;width: auto;}
.footer-inner .footer-logo {float: left;}
.footer-inner .footer-content {float: left;}
.footer-inner .footer-content .ftr-menu-block {float: left;margin-left: 50px;}
.footer-inner .footer-content p.main-footer-copyright {float: left;clear: both;margin-left: 50px;margin-bottom: 0px;}
.ant-tabs.registerSteps .ant-tabs-nav::before{border: none;}
.ant-tabs.registerSteps .ant-tabs-nav .ant-tabs-nav-list .ant-tabs-ink-bar{height: 0px;}
.ant-tabs.registerSteps .ant-tabs-nav .ant-tabs-nav-list .ant-tabs-tab + .ant-tabs-tab{margin-left: 0px;}
.ant-tabs.registerSteps .ant-tabs-nav .ant-tabs-nav-list .ant-tabs-tab + .ant-tabs-tab:before{position: absolute;width: 1px;height: 55%;content: "";background-color: #6C6C6C;left: 0;}
.ant-tabs.registerSteps .ant-tabs-nav{margin-bottom: 40px;}
.mobile-hero{display:none;}

/*-------Jatin CSS End--------*/





/*=============================== Responsive CSS Starting From Here ====================================*/

@media only screen and (max-width: 1399px) {

  .header-common.in-english .header-menu ul li {margin: 0 10px;}
  .header-common.in-english .header-logo {margin-right: 10px;max-width: 140px;margin-top: 5px;}
  .header-common.in-english .header-profile {margin-left: 0px;}
  .header-common.in-english .header-profile .header-notification {margin-right: 10px;}
  .header-common.in-english .header-profile .header-avtar-section span.avtar-name {margin-left: 10px;}
  .header-common.in-english .header-action.for-search-company {float: right;margin-left: 10px;}
  .header-common.in-english .header-action .header-action-right {margin-left: 10px;}  

}

@media only screen and (max-width: 1199px) {

  .header-menu ul li{float: left;margin: 0 10px;}
  .header-logo {float: left;margin-right: 15px;}
  .header-profile {margin-left: 5px;}
  .header-action {margin-left: 10px;}
  .header-action .header-action-right {margin-left: 10px;}
  .header-common-inner-before-login {width: 100%;box-sizing: border-box;padding: 0 40px;}
  .header-common-inner.for-search-company {width: 700px;}
  .header-common.in-english .header-profile {margin-left: 0px;clear: both;}
  .header-common.in-english .header-menu ul li {margin: 0 15px;}
  .header-common.in-english .header-menu ul li:last-child a {margin-right: 0px;}
  .header-common.in-english .header-menu ul li:last-child {margin-right: 0px;}
  .header-common.in-english .header-logo {margin-bottom: 20px;}

}

@media only screen and (max-width: 991px) {

  .header-menu {margin-bottom: 20px;}
  .header-profile {margin-left: 80px;clear: both;}
  .navbar-expand-lg .navbar-nav{flex-direction: row;}
  .navbar-expand-lg .navbar-nav .nav-link {padding-right: 0.5rem;padding-left: 0.5rem;}
  .ant-card-bordered {border:none!important; }
  .purchse-card .col4-cmn-cntr-640 { width: 800px;}
  .purchse-card .ant-card-head{border-top-left-radius: 0px!important;border-top-right-radius: 0px!important;}
 .clientprofile-2 span.Blueprofile_heading__2JU1N {margin-left: 25px;}
 .clientprofile-2 button.ant-btn.clientProfile_topbtn__1NtvM { margin-right: 30px;}
 .register-img .brdrrdus20{border-radius: 0px!important;}
 .clientprofile-2 .clientProfile_userprofilesectop__3WYHr{border-radius: 0px!important;}
 .clientprofile-2 .blue-profile-btm{border-radius: 0px!important;}
 .Blueprofile_maindiv__1IAAQ{border-top-left-radius:0px!important;border-top-right-radius:0px!important}
 .clientprofile-2 .Blueprofile_heading__2JU1N{margin-left: 25px;}
 .clientprofile-2 .cmn-profile-sec-top{border-radius:0px!important}
 .blue-profile-btm{border-radius: 0px;}
 .cmn-profile-sec-top{border-radius:0px;}

 /*-------Jatin CSS Start 991--------*/
.footer-inner .footer-content .ftr-menu-block {margin-left: 30px;}
.footer-inner .footer-content p.main-footer-copyright {margin-left: 30px;}
footer.footer-main.in-english .footer-inner .footer-logo {float: left;margin-left: 12px;margin-bottom: 25px;}
footer.footer-main.in-english .footer-inner .footer-content {float: left;clear: both;}
footer.footer-main.in-english .footer-inner .footer-content .ftr-menu-block {margin-left: 12px;margin-right: 12px;}
footer.footer-main.in-english .footer-inner .footer-content p.main-footer-copyright {margin-left: 12px;}
.col4-cmn-cntr-800{width: 767px;}
/*-------Jatin CSS End 991--------*/
  
}

@media only screen and (max-width: 767px) {

  .Footer_footer__2Cufb{width: 100%!important;}
  .header-common{width: 100%;}
  .mainContainercmn{width: 100%;}
  .Request_bottomContainer__3zVCl{width: 100%!important;}
  .Search_heading__WcXpw{font-size: 39px;}
  .login-container{width:100%;background: none;}
  .purchse-card .ant-card-head { border-radius: 0px!important;}
  .col4-cmn-cntr-640{width:100%;}
  .jumbotron {width: 100%;}
  .my-page p.undefined {font-size: 20px;}
  .my-page .ant-btn span { margin-left: 4px;}
  .Request_heading__KPJrU{padding-left:30px;}
  .Registration_maindiv__2s2KW{border-radius: 0px!important;}

  /*---Dhwani CSS Start 767---*/
  .col4-cmn-cntr-800{width: auto;}
  .blue-profile-btm{border-radius: 0px;}
  /*---Dhwani CSS End 767---*/

  /*-------Jatin CSS Start 767--------*/
  .footer-inner .footer-logo {float: left;margin-bottom: 25px;}
  .footer-inner .footer-content {float: left;clear: both;}
  .footer-inner .footer-content .ftr-menu-block {margin-left: 0px;clear: both;margin-bottom: 15px;}
  .footer-inner .footer-content p.main-footer-copyright {margin-left: 0px;}
  .profrate-inner .proinr-cmn.col-md-6{width: 50%;}
  .mobile-hero{display: block;float: left;width: 100%;background-image: url(../public/laptop.png);padding: 114px 20px 100px 30px;background-size: 100% auto;background-repeat: no-repeat;background-position: center center;position: relative;}
  .mobile-hero .mobile-hero-logo {float: left;width: 100%;position: relative;z-index: 9;}
  .mobile-hero .mobile-hero-heading {float: left;width: 100%;color: #ffffff;font-size: 40px;font-weight: bold;margin-top: 5px;position: relative;z-index: 9;}
  .mobile-hero .mobile-hero-overlay {position: absolute;width: 100%;height: 100%;content: "";background-color: rgba(0,0,0,0.4);top: 0;left: 0;}
  .login-footer {display: none;}
  .login-header{display:none;}
  .register-outer{padding: 0px 0;}
  

  /*-------Jatin CSS End 767--------*/

}

@media only screen and (max-width: 450px) {

  /*.ant-modal-body .col-5 {width: 80%;margin-left: 25px!important;}*/

  /*---Jatin CSS Start 450---*/
  .mobile-hero{padding: 70px 20px 50px 30px;}
  .mobile-hero .mobile-hero-logo a{max-width: 115px;float: left;}
  .mobile-hero .mobile-hero-heading{font-size:30px;}
  .register-outer .ant-card-body{padding: 20px 20px 20px 20px;}

  /*---Jatin CSS End 450---*/

  /*---Dhwani CSS Start 450---*/
  .my-page span.Register_mypagesubname__2t0w_ {width: 100%;float: left;}
  .register-img p.img_txtheading__1yeK3 {padding: 0px;}
  .register-img .introUpload .ant-upload-select-picture-card{height: 190px !important;}
  .soc-login-inner{width:290px;}
  .Rating_acceptButton__3Cw8m{margin-left: 0px!important;margin-top: 20px;}
  .searchdetail_bigbtn__qnEM-{width:auto;}
  #register .Register_savebutton__2diVu{width:100%}
  .pop-title .ant-modal-title{font-size: 30px;}
  /*---Dhwani CSS END 450---*/

}