.container {
  background-image: url(../public/laptop.png);
  min-height: 90vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 90px;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(30);
  justify-content: center;
  align-items: center;
}

.fcontent {
  padding-top: 35px;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.footerFirst {
  font-family: 'SpoqaHanSansbold';
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 19.8px;
  color: #2b2f36;
}

.footerSecond {
  font-family: 'SpoqaHanSans';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  color: #2b2f36;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.hTitle {
  font-size: 29px;
  margin-left: 25%;
  margin-top: 36px;
  height: 100%;
  color: #ffffff;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.heading {
  margin-top: 70px;
  font-family: 'SpoqaHanSansbold';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 36px;
  /* or 90% */
  display: flex;
  align-items: center;
  color: #ffffff;
}

.registerCard {
  margin-top: 40px;
  justify-items: center;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.formInput {
  background: transparent;
  border-color: transparent;
  border-bottom: 1px solid #6c6c6c;
}

.formLabel {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  /* or 200% */
  display: flex;
  align-items: center;
  color: #16181c;
}

.registerButton {
  position: absolute;
  width: 100%;
  height: 68px;
  /* margin-left: 50px; */
  /* margin-right: 50px; */
  background: #00d6e3;
  color: white;
  opacity: 0.5;
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.activeTab {
  height: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  display: flex;
  color: #fff;
  background-color: #00d6e3;
}

.nonActiveTabText {
  height: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #6c6c6c;
}

.activeTabText {
  height: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  color: #00d6e3;
}

.activeTabAvatar {
  width: auto;
  margin: 0 auto;
  display: table;
  text-align: center;
  background-color: #00d6e3;
}

.tab {
  width: auto;
  margin: 0 auto;
  display: table;
  text-align: center;
  color: #00d6e3;
}

.searchTop {
  position: absolute;
  /* width: 1919px; */
  /* height: 696px; */
  left: 2px;
  top: 101px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.51) 100%);
}

.topMenu {
  font-family: 'SpoqaHanSans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #fff !important;
}

.fontStyle {
  font-family: 'SpoqaHanSans';
  font-style: normal;
  color: #fff !important;
}

.heading {
  font-size: 66px;
  text-align: center;
  justify-content: center;
}

.subHeading {
  font-size: 44px;
  text-align: center;
  justify-content: center;
}

.subContent {
  font-family: 'SpoqaHanSans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #fff !important;
}

.heroBG {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.51) 100%);
}

.section {
  min-height: 100vh;
}

.search {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #d1d1d1;
}

.profile {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #fff;
  opacity: 0.7;
}

.talk {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #d1d1d1;
}

.para {
  font-family: 'SpoqaHanSansbold';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #16181c;
}

.paraTwo {
  font-family: 'SpoqaHanSans';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 36px;
  color: #9a9a9a;
  text-align: justify;
}

.paraEnd {
  font-family: 'SpoqaHanSansbold';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  color: #16181c;
}

.paraTwoEnd {
  font-family: 'SpoqaHanSans';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 36px;
  color: #9a9a9a;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.paraThree {
  font-family: 'SpoqaHanSansbold';
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 36px;
  color: #00d6e3;
}

.paraThreeEnd {
  font-family: 'SpoqaHanSansbold';
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 36px;
  color: #00d6e3;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.navBar {
  background-color: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(30px) !important;
  height: 100px !important;
  display: flex;
  align-items: center;
  justify-items: flex-start;
}

.startedButton {
  font-family: 'SpoqaHanSans';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #fff !important;
  border: 1px solid #fff;
  border-radius: 8px;
}

.sectionTwo {
  margin-top: 70px;
}

.sectionThree {
  margin-top: 70px;
  background-color: "#00D6E3";
}

.menuItemHeading {
  font-family: 'SpoqaHanSansbold';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
}

.menuSubItemHeading {
  font-family: 'SpoqaHanSans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #9a9a9a;
}

.h1 {
  font-family: 'SpoqaHanSansbold';
  font-weight: bold;
  font-style: normal;
  font-size: 40px;
  color: #16181c;
}

.dropdownBtn {
  text-align: left;
  height: 50px;
  width: 180px;
  color: #16181c;
  font-family: 'SpoqaHanSans';
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  border-radius: 10px;
}

.p2 {
  font-family: 'SpoqaHanSansbold';
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  color: #16181c;
  text-decoration: underline;
}

.p3 {
  font-family: 'SpoqaHanSans';
  font-size: 30px;
  color: #16181c;
}

.ant-tabs-ink-bar {
  border-bottom: 0;
}

.primaryButton {
  align-items: center;
  width: 100%;
  height: 68px;
  background: #00d6e3;
  color: white;
  border-radius: 20px;
  font-family: 'SpoqaHanSansbold';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin-top: 20px;
}

.mainContainer {
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.acceptedButton {
  border: 1px solid #00d6e3;
  box-sizing: border-box;
  background: #00D6E3;
  opacity: 0.1;
  border: 1px solid #00D6E3;
  box-sizing: border-box;
  border-radius: 30px;
  color: white;
  opacity: 0.1;
}